<md-content>
  <div class="md-padding product-container" layout="column" layout-gt-md="row">
    <div flex-xs="" flex-gt-xs="50" layout="column">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-title">What are Virtual Data Rooms?</span>
            <span class="md-subhead">What is the purpose of a virtual data room and why do businesses use them?</span>
          </md-card-title-text>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-content>
          <div class="md-media-xl card-media">
            <p>A virtual data room is a secure online location where information and files can be shared, tracked, and discussed. Along with increased levels of security, using virtual data rooms can ensure compliance, simplify file/information sharing, and improve the granularity of accessibility of documents.</p>
            <p>So, who uses virtual data rooms? Typically these data rooms are used by executives and legal teams during corporate events such as mergers and acquisitions. These virtual data rooms are also common in industries where an extreme level of security and information tracking is required, such as finance, law, insurance, or the biomedical/pharmaceutical industries.</p>
            <p>Why are they called ‘virtual data rooms’? Originally, these virtual data rooms were physical data rooms where executives or other users would meet to discuss business dealings (mergers, partnerships, etc.). This often meant a great deal of travel and coordination of many busy schedules. While cumbersome, this effort was necessary to ensure the security of sensitive data.</p>
            <p>Through advances in technology, a similar level of security became achievable in a digital format. Improved encryption technology and authentication techniques made it possible to ‘lock’ documents in an ‘encrypted’ digital safe, impossible to access without granted an access ‘key’. And so, the virtual data room was born, offering equivalent security to the physical data room with a much higher level of accessibility.</p>
            <p>And as the desire for efficiency and speed in today’s business environment has grown over the decades, so has the popularity of the virtual data room.</p>
            <p><a>(Read more about how Virtual Data Rooms work…)</a></p>
          </div>
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-primary">Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      
    </div>
    <div layout="column" flex>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Small</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-divider></md-divider>
        <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-primary">Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card with image</span>
            <span class="md-subhead">Medium</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-md card-media"></div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-button class="md-primary">Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>

</md-content>