<md-content>
  <section class="email-section">
  <h2>Email your mayor & city officials with your thoughts about becoming a sanctuary city for immigrants</h2>
<div id="form-main">
  <div id="form-div">
    <form class="form" id="form1">
      <p class="name">
        <input name="name" type="text" class="feedback-input" placeholder="Your First Name" id="name" ng-model="userName" required ng-validate/>
      </p>

      <p class="address">
        <input name="city" type="text" class="feedback-input" placeholder="Your City" ng-keyup="getCivicData()" id="city" ng-model="userCity" required/ validate>
        <input name="state" type="text" class=" feedback-input" placeholder="Your State" id="state" ng-model="userState" ng-keyup="getCivicData()" ng-required ng-validate/>
      </p>
      
      <p class="email">
        <input name="email" type="text" class="feedback-input" id="email" placeholder="Your Email" ng-model="userEmail" ng-required ng-validate/>
      </p>

      <p ng-if="userName !== ''" class="email-intro" ng-model="emailIntro">Dear Mayor & city officials,<br><br>My name is <span ng-bind="userName"></span> and I live in <span ng-bind="userCity"></span>, <span ng-bind="userState"></span>.
      </p>
      <p class="text">
        <textarea id="comment"  ng-model="emailBody"></textarea>
      </p>
 <!--    <div class="modal-container">
  <input id="modal-toggle" type="checkbox">
  <label class="modal-btn" for="modal-toggle">Not sure what to say? Copy our message.</label> 
  <label class="modal-backdrop" for="modal-toggle"></label>
  <div class="modal-content">
    <label class="modal-close" for="modal-toggle">&#x2715;</label>
    <h2>Our message</h2><hr />
    <p>Acting as a sanctuary city for immigrants improves the lives of all our city's residents. By encouraging every member of our communities to work with police without fear of deportation, authorities can do a better job of keeping our communities peaceful. Additionally, over 66% of unauthorized immigrants residing in the U.S. have been building lives here for over 10years, and are soundly integrated into out local communities.</p><hr />   
  </div>          
</div> -->

      <p ng-if="userName !== ''" class="email-intro" ng-model="emailOutro">Thank you for your time and consideration.<br><br>
      Sincerely,<br>
      <span ng-bind="userName"></span>.
      </p>

      <md-radio-group ng-model="makeEmailPublic" >
      
        <md-radio-button value="true" class="blue">Post my message publically on AskYourMayor.com</md-radio-button>
        <md-radio-button value="false" class="red">Keep my message private.</md-radio-button>

      </md-radio-group>

      <div class="submit">
        <span ng-repeat="office in response.offices | filter:'Mayor'">
          <span ng-repeat="officialIndice in office.officialIndices">
              <span ng-if="response.officials[officialIndice].emails[0]">
              <a ng-click="postEmail()" target="_self" ng-if="response.officials[officialIndice].emails[0]" ng-href="mailto:{{ response.officials[officialIndice].emails[0] }}?subject=My%20thoughts%20on%20becoming%20a%20santuary%20city%20for%20immigrants&body=Dear%20Mayor%20and%20city%20officials,%0D%0A%0D%0Amy%20name%20is%20{{userName}},%20and%20I%20live%20in%20{{userCity}},%20{{userState}}.%0D%0A%0D%0A{{emailBody}}%0D%0A%0D%0AThank%20you%20for%20your%20time%20and%20consideration.%0D%0A%0D%0ASincerely,%0D%0A{{userName}}&cc=team@askyourmayor.com" id="button-blue1" validate>
              <span ng-if="successPost !== 'show'">Email your mayor</span>
              <span ng-if="successPost == 'show'">{{response.officials[officialIndice].emails[0]}}</span>
              </a>
              <div class="ease"></div>
              </span>
              <span ng-if="response.officials[officialIndice].phones[0]">
              <a ng-click="callMayor()" ng-href="tel:{{ response.officials[officialIndice].phones[0] }}" id="button-blue1" validate>
                <span ng-if="successCallMayor !== 'show'">Call your mayor
                </span>
                <span ng-if="successCallMayor == 'show'">{{response.officials[officialIndice].phones[0]}}
                </span>
              </a>
              <div class="ease"></div>
              </span>
          </span>
        </span>
      </div>
      <br>
      <div class="submit">
        <span ng-repeat="office in response.offices | filter:'Sheriff'">
          <span ng-repeat="officialIndice in office.officialIndices">
            <span ng-if="response.officials[officialIndice].emails[0]">
              <a ng-click="postEmail()" target="_self" ng-href="mailto:{{ response.officials[officialIndice].emails[0] }}?subject=My%20thoughts%20on%20becoming%20a%20santuary%20city%20for%20immigrants&body=Dear%20Mayor%20and%20city%20officials,%0D%0A%0D%0Amy%20name%20is%20{{userName}},%20and%20I%20live%20in%20{{userCity}},%20{{userState}}.%0D%0A%0D%0A{{emailBody}}%0D%0A%0D%0AThank%20you%20for%20your%20time%20and%20consideration.%0D%0A%0D%0ASincerely,%0D%0A{{userName}}&cc=team@askyourmayor.com" id="button-blue1" validate>
                <span ng-if="successPost !== 'show'">Email your Sheriff
                </span>
                <span ng-if="successPost == 'show'">{{ response.officials[officialIndice].emails[0] }}
                </span></a>
              <div class="ease"></div>
              </span>
              <span ng-if="response.officials[officialIndice].phones[0]">
              <a ng-click="callSheriff()" ng-if="response.officials[officialIndice].phones[0]" ng-href="tel:{{ response.officials[officialIndice].phones[0] }}" id="button-blue1" validate>
                <span ng-if="successCallSheriff !== 'show'">Call your Sheriff
                </span>
                <span ng-if="successCallSheriff == 'show'">{{response.officials[officialIndice].phones[0]}}
                </span>
              </a>
              <div class="ease"></div>
              </span>
          </span>
        </span>
      </div>
      <!-- for DC mayor -->
      <br>
      <div class="submit">
        <span ng-repeat="official in response.officials | filter:'Muriel Bowser'">
           <span ng-if="official.emails[0]">
              <a ng-click="postEmail()" ng-if="official.emails[0]" ng-href="mailto:{{ official.emails[0] }}?subject=My thoughts on becoming a santuary city for immigrants&body=Dear Mayor and city officials,%0D%0A%0D%0Amy name is {{userName}}, and I live in {{userCity}}, {{userState}}.%0D%0A%0D%0A{{emailBody}}%0D%0A%0D%0AThank you for your time and consideration.%0D%0A%0D%0ASincerely,%0D%0A{{userName}}&cc=info@askyourmayor.com" id="button-blue1" validate><span ng-if="successPost !== 'show'">Email your mayor</span><span ng-if="successPost == 'show'">{{official.emails[0]}}</span></a>
              <div class="ease"></div>
              </span>
              <span ng-if="official.phones[0]">
              <a ng-click="callMayor()" ng-href="tel:{{ official.phones[0] }}" id="button-blue1" validate>
                <span ng-if="successCallMayor !== 'show'">Call your mayor
                </span>
                <span ng-if="successCallMayor == 'show'">{{official.phones[0]}}
                </span>
              </a>
              <div class="ease"></div>
              </span>
        </span>
      </div>
      <!-- end for DC mayor -->
      <br>
      <div ng-if="dcMayor == undefined">
      <div ng-if="userState.length >= 2 && theMayor !== 'here'" class="submit">
              <a ng-click="postToAym()" id="button-blue1" validate>
                <span ng-if="postToAym !== 'show'">Post to AskyourMayor.com
                </span>
                <span ng-if="postToAym == 'show'">Success!
                </span>
              </a>
              <div class="ease"></div>
        
      </div>
      </div>
      <br>
      <p ng-if="userState.length >= 2 && theMayor !== 'here'">*Don't see an option to email your mayor or other officials? You can still show your support by posting your message as an open letter on AskYourMayor.com!</p>

      <!--
      <div class="submit">
        <a ng-href="mailto:{{ response.officials[0].emails[0] }}?subject=My thoughts on becoming a santuary city for immigrants&body={{emailBody}}&cc=info@askyourmayor.com&cc={{ response.officials[1].emails[0] }}&cc={{ response.officials[1].emails[0] }}" id="button-red1" validate>SEND w/ Gmail</a>
        <div class="ease button-red"></div>  
      </div>-->
    </form>
  </div>
  </section>

</md-content> 