<md-content layout-padding>
  <div class="md-padding product-container" layout="column" flex>
    <h2 class="">VDR Pricing Guides</h2>
    <div class="md-padding" layout-xs="column" layout="row">
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
    
    </div>
      <h2>VDR Feature Guides</h2>
    <div class="md-padding" layout-xs="column" layout="row">
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>

      <h2>Top Rated Virtual Data Room Providers</h2>
    <div class="md-padding" layout-xs="column" layout="row">
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>

      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div flex-xs="" flex-gt-xs="50" layout="column">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-title">{{ selectedProduct[0].name }}</span>
              <span class="md-subhead">Virtual data room provider</span>
            </md-card-title-text>
          </md-card-title>
          <md-divider></md-divider>
          <md-card-content>
            <div class="md-media-xl card-media">
              <img ng-src="{{ selectedProduct[0].logoURL }}" height="80%">
            </div>
          </md-card-content>
          <md-divider></md-divider>
          <md-card-actions layout="row">
            <md-button class="md-primary">Action 1</md-button>
            <md-button>Action 2</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>
  </div>
</md-content>