<!-- Main Content Area -->
  <div flex layout="row" layout-fill>
    <md-content flex>


      <!-- Section 1: Hero -->
      <section class="hero">
      	<md-card class="">
      		<div class="">
      			<h1>ASK your MAYOR</h1>
      		</div>
      	</md-card>
      </section>
      <section class="the-why">
        <br>
        <h2>Most unauthorized immigrants residing in the U.S.<br>have been building lives there for over 10yrs.</h2>
          <figure>
  <figcaption></figcaption>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="chart" aria-labelledby="title" role="img">
  <title id="title">A bart chart showing information</title>
  <g class="bar">
    <rect class="rect1" x="25" width="27%"></rect>
    <text class="text1" x="35" y="15" dy=".35em">66% > 10yrs</text>
    <rect class="rect2" x="200" y="0" width="6%"></rect>
        <text class="text2" x="210" y="15" dy=".35em">14% < 5yrs</text>
  </g>
</svg>
</figure>
  <p>*data from <a href="http://www.pewresearch.org/fact-tank/2016/11/03/5-facts-about-illegal-immigration-in-the-u-s/#number-5" target="_blank"> PewResearchCenter</a></p>
      </section>

      <section class="the-how">
        
        <h2>Currently, every U.S. city is deciding whether or not to become a sanctuary city for immigrants. <span class="lighten">Contact your mayor today with your thoughts about becoming a sanctuary city.</span></h2>
        <md-button class="contact" ui-sref="contact">Voice Your Concerns Here</md-button>
      </section>

    <section class="share">
        <div class="container">
              <h2>Share with your community!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="https://twitter.com/enviesapp"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="https://www.instagram.com/envies_app/"><i class="fa fa-facebook"></i></a>
                </li> 
                <li class="social-linkedin">
                    <a href="https://www.linkedin.com/company/envíes"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </section>
      
    </md-content>
  </div>